// variables para ser reutilizados en el proyecto para el login 
$primary-color: #91152F;// color de los botones 
$primary-hover-color: #d33b4b;  // es para el hover 
$secondary-color: #F7F8F9; // color de los textos de los botones 
$text-color: #25212B;
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Inter', sans-serif;
$border-color: #B0B0B0;
$button-radius: 12px;
$logo-width: 186px;
$logo-height: 60px;
